@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500&family=Roboto:wght@300;400;500;700&family=Square+Peg&family=Ubuntu:wght@300;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition:all .2s  linear;
  text-decoration: none;
  text-transform: capitalize;
  outline: none;
  border: none;
  font-weight: normal;
  font-family: 'Exo 2', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Square Peg', cursive;
font-family: 'Ubuntu', sans-serif;

}


html{
  font-size: 62.2%;
  overflow: hidden;
}

body{
  
  overflow: hidden;

  min-height: 100vh;
 
  

}

section{
  min-width:100%;
  padding: 1rem 7%;
}

.flex-wrap{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 5.5rem;
  background: linear-gradient(deeppink,purple);
  min-height: 100vh;
  
 


}


header {
    background: rgba(255,255,255,0.5);
    
    width: 35rem;
    text-align: center;
    backdrop-filter: blur(.4rem);
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
    padding: 1rem;
    border-radius: 1rem;
}

header .userName{
  padding-top: 2rem;
  
}

header .userName img{
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  margin: 1rem 0;
  object-fit: cover;
  box-shadow: 0 0 0 1rem rgba(255,255,255,0.2);
}


header .userName h3{
  font-size: 3rem;
  color: #fff;
  padding: .5rem 0;

}

header .userName p {
  color: #eee;
  font-size: 1.8rem;
font-weight: lighter;


}

header .Navbar{
  padding: 1rem 3rem;
}

header .Navbar ul li {
margin: 1rem 0;
list-style: none;
}

header .Navbar ul li .nav_link{
  color: #fff;
  background: rgba(255,255,255,0.2);
   box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
   display: block;
   padding: 1rem;
   border-radius: 1rem;
   font-size: 2rem;

}

header .Navbar ul li .nav_link:hover{
  background: rgba(255,255,255,0.5);
  color: #555;

  box-shadow: 0 1rem 2rem rgba(0,0,0,0.5);

}

.container{
  width: 80rem !important;
  height: 58rem;
  background: rgba(255,255,255,0.2) !important;
  backdrop-filter: blur(.4rem);
  box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
  padding: 1rem;
  border-radius: 1rem;

  overflow: hidden;

}


.section{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10rem;
  flex-flow: column;
  min-height: 100%;
  position: relative;
  text-align: center;
}

.section h3{
  font-size: 2.5rem;
  color: #eee;
  font-weight: lighter;

}

.section .home_name span{
  font-size: 4rem;
  color: #fff;
}

.section .home_post{
  padding: 2.5rem 0;
}

.section .home_post span{
      color: #fff;
      font-size: 2.5rem;
     
}

.btn{
  background:rgba(255,255,255, .2);
  padding: .7rem 4rem;
  font-size: 2rem;
   color: #fff !important;
   margin-top: 1rem;
   border-radius:1rem;
   cursor: pointer;
   box-sizing: 0 1rem 2rem rgba(0,0,0,0.2);
}

.btn:hover{
  background-color: rgba(255,255,255,0.5);
  box-sizing: 0 1rem 2rem rgba(0,0,0,0.2);
  color: #555 !important;

}

.Home .share{
  position: absolute;
  left: 50%;
  bottom: 5rem; 
  display: flex;
  transform: translateX(-50%);
   padding: 1rem;
   border-radius: 1rem; 
   background: rgba(255,255,255,.1);
}

.Home .share .fab{
  padding: 1rem 2rem;
  background:rgba(255,255,255,0.2);
  box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
  margin: 1rem;
  color:#fff;
  margin:1rem;
  font-size: 2rem;

}

.Home .share .fab:hover{
  background: rgba(255,255,255,0.5);
  color: #555;
  
}

.about{
  min-height: 100%;
  
}

.heading{
  text-align: center;
  color: #fff;
  padding: 1rem;
  font-size: 3rem;
}

.about .content h3{
  font-size: 2.5rem;
  color: #fff;


}

.about .content h3 span{
  color: #eee;
}

.about .content p{
  color: #fff;
  font-size: 1.8rem;
  
  padding: .5rem 0;
}

.about .skills{
  padding: 1rem 0;
}

.about .skills .proccess {
  margin: 1.5rem 0;
  background: rgba(255,255,255,0.5);
  padding: 1rem 1rem;
  border-radius: 1rem;
  
}

.about .skills .proccess h3{
  color:#fff;
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
}

.about .skills .proccess .bars{
  background: #555;
  position: relative;
  width:100%;
  height: .5rem;
  margin: 1rem 0;
  border-radius: 1rem;
}


.about .skills .proccess .bars span{
  background: linear-gradient(-60deg,rgb(44, 240, 223),rgb(248, 59, 232));
  position: absolute;
  width: 100%;
  height: 100%;

}

.about .skills .proccess:nth-child(1) .bars span{
  width: 95%;
}

.about .skills .proccess:nth-child(2) .bars span{
  width: 75%;
}

.about .skills .proccess:nth-child(3) .bars span{
  width: 65%;
}


.service .container_box{
  padding: 2rem 0;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-wrap: wrap;
}


.service .container_box .box{
  margin: 1rem;
  padding: 1rem;
  box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
  border-radius: 1rem;
  background: rgba(255,255,255,0.5);
  text-align: center;
  width: 31.5rem;
}

.service .container_box .box i{
  color: #fff;
  font-size: 4.5rem;
  padding: 1.5rem 0;
}

.service .container_box .box p{
  color: #fff;
  font-size: 1.2rem;
  padding: .5rem 5rem;
}
.Eduction .container_box{
 
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  flex-wrap: wrap;
}

.Eduction .container_box .box{

  padding: 0 2rem;
  border-left:.5rem solid #fff;
  width: 30rem;
  padding-bottom: 2rem;

}

.Eduction .container_box .box .year{
  color: #fff;
  font-size: 1.5rem;
  position: relative;

}

.Eduction .container_box .box .year::before{
  content: "";
  position: absolute;
  top:-.1rem;
  left: -3.3rem;
  background: #fff;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.Eduction .container_box .box p{
  color: #fff;
  padding: 1rem 0;
  font-size: 1.3rem;
  line-height: 1.8rem;
}


.contact .row{
  display: flex;
  justify-content: space-between;
padding-top: 7rem;
align-items: center;
}



.contact .row form{
  
  display: flex;
  box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
  justify-content: space-between;
padding: 1rem 2.5rem;
flex-wrap: wrap;
background: rgba(255,255,255,0.5);
border-radius: 1rem;

}
.contact .row form .box{

box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
padding: 1rem 2rem;
margin: 1rem 0;
width: 49%;
height: 4rem;
flex-wrap: wrap;
background: rgba(255,255,255,0.5);
border-radius: 1rem;
color: #fff;
font-size: 1.5rem;
text-transform: none;

}

.contact .row form .box::placeholder{
  text-transform: capitalize;
}


.contact .row form .message{
  padding: 1rem;
  resize: none;
  width: 100%;
  height: 15rem;
}

.contact .row form .btn{
  margin-bottom: 1rem;
}

.contact .row .contect {
  padding: 0 5rem;
}

.contact .row .contect .icons{
  padding: 1rem 0;
}

.contact .row .contect .icons h3{
  padding: 1rem 0;
  font-size: 2rem;
  color: #fff;
  display: flex;
}


.contact .row .contect .icons h3 i{
  color: #fff;
  font-size: 2rem;
  padding-right: 1rem;
}


.contact .row .contect .icons p{
  color: #fff;
  font-size: 1.5rem;
}

.toggle_tigger{
  background:rgba(255,255,255,0.5);
  box-shadow: 0 1rem 2rem rgba(0,0,0,0.5);
  border-radius: 1rem;
  backdrop-filter: blur(1.4rem);
}

.toggle_tigger span{
  display: block;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  cursor: pointer;
  margin: 2rem 2.5rem;
  box-shadow: 0 0 0 .5rem rgba(255,255,255,0.5),
              0 0 0 .5rem rgba(0,0,0,0.2);
}